[submodule "structure-in-motion"]
	path = structure-in-motion
	url = https://github.com/DrugowitschLab/structure-in-motion.git
[submodule "vjepa2"]
	path = vjepa2
	url = https://github.com/facebookresearch/vjepa2.git
